{{template "header.tmpl" .}}

{{range .Funcs}}
    {{template "benchmark" .}}
{{end}}

{{range .Funcs}}
    {{template "benchmark_runner" .}}
{{end}}

{{range .Funcs}}
    {{template "benchmark_struct" .}}
{{end}}
