{{define "fuzz"}}
{{- if and .Fuzz .Parameters (not .Receiver) }}
    {{- $allParamsFuzzable := true }}
    {{- range .Parameters }}
        {{- if not (isFuzzable .Type $.TypeParams) }}
            {{- $allParamsFuzzable = false }}
        {{- end }}
    {{- end }}
    
    {{- if $allParamsFuzzable }}
{{- $fuzzTargetName := testName .FunctionInfo }}
func Fuzz{{$fuzzTargetName}}(f *testing.F) {
    {{- range .TypeParams}}
    // TODO: Initialize concrete type for {{.Name}}
    type {{.Name}} = int
    {{- end}}
    // TODO: Add seed corpus
    f.Fuzz(func(t *testing.T, {{range $i, $p := .Parameters}}{{if $i}}, {{end}}{{$p.Name}} {{$p.Type}}{{end}}) {
        {{- if .Results }}
            {{.Name}}(
                {{- range $i, $p := .Parameters}}
                {{$p.Name}},
                {{- end}}
            )
        {{- else }}
            {{.Name}}(
                {{- range $i, $p := .Parameters}}
                {{$p.Name}},
                {{- end}}
            )
        {{- end }}
    })
}
    {{- end }}
{{- end }}
{{end}}
