{{define "generic_test"}}
{{- if .Render }}
{{- $testFuncName := testName .FunctionInfo }}
func Test{{$testFuncName}}(t *testing.T) {
    {{- if .Parallel }}
    t.Parallel()
    {{- end }}
    // TODO: Add test cases.
	t.Run("int", func(t *testing.T) {
		test{{$testFuncName}}[{{range $i, $tp := .TypeParams}}{{if $i}}, {{end}}int{{end}}](t, []testCase{{$testFuncName}}[{{range $i, $tp := .TypeParams}}{{if $i}}, {{end}}int{{end}}]{
            // TODO: Add test cases.
        })
    })
}
{{- else }}
    {{ .ExistingSource }}
{{- end }}
{{end}}

{{define "generic_runner"}}
{{- $testFuncName := testName .FunctionInfo }}

func test{{$testFuncName}}[{{range .TypeParams}}{{.Name}} {{.Type}}, {{end}}](t *testing.T, cases []testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}]) {
    {{- if .Parallel }}
    t.Parallel()
    {{- end }}
    {{- $nonErrorResults := 0 }}
    {{- $errorCount := 0 }}
    {{- range $i, $r := .Results }}
        {{- if eq $r.Type "error" }}
            {{- $errorCount = add $errorCount 1 }}
        {{- else }}
            {{- $nonErrorResults = add $nonErrorResults 1 }}
        {{- end }}
    {{- end }}
    {{- $hasErr := gt $errorCount 0 }}
	for _, tt := range cases {
        {{- if or (gt $nonErrorResults 0) $hasErr }}
        defaultValidate := func(t *testing.T, {{range $i, $r := .Results}}{{if eq $r.Type "error"}}{{if gt $errorCount 1}}gotErr{{$i}} error{{else}}gotErr error{{end}}{{else}}got{{$i}} {{$r.Type}}{{end}}, {{end}}tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}]) error {
            {{- template "validation_body" . }}
        }
        {{- else }}

        defaultValidate := func(t *testing.T, tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}]) error {
            return nil
        }
        {{- end }}
        defaultInit := func(t *testing.T, tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}]) {}
        defaultCleanup := func(t *testing.T, tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}]) {}
		t.Run(tt.name, func(t *testing.T) {
            {{- if .Parallel }}
            t.Parallel()
            {{- end }}
            if tt.init == nil { tt.init = defaultInit }
            tt.init(t, &tt)
            if tt.cleanup == nil { tt.cleanup = defaultCleanup }
            defer tt.cleanup(t, &tt){{ $resultsLen := len .Results }}{{if eq $resultsLen 0}}
            {{if .Receiver}}tt.receiver.{{end}}{{.Name}}{{if and (not .Receiver) .TypeParams}}[{{range $i, $tp := .TypeParams}}{{if $i}}, {{end}}{{$tp.Name}}{{end}}]{{end}}(
				{{- range .Parameters}}
				tt.args.{{.Name}}{{if .IsVariadic}}...{{end}},
				{{- end}}
			)
            {{else}}
            {{if gt $resultsLen 0 }}
            {{- range $i, $r := .Results -}}
                {{- if $i}}, {{end}}
                {{- if eq $r.Type "error"}}{{if gt $errorCount 1}}err{{$i}}{{else}}err{{end}}{{else}}got{{$i}}{{end}}
            {{- end}} := {{end}} {{if .Receiver}}tt.receiver.{{end}}{{.Name}}{{if and (not .Receiver) .TypeParams}}[{{range $i, $tp := .TypeParams}}{{if $i}}, {{end}}{{$tp.Name}}{{end}}]{{end}}(
				{{- range .Parameters}}
				tt.args.{{.Name}}{{if .IsVariadic}}...{{end}},
				{{- end}}
			)
            {{- end}}
            if tt.validate == nil { tt.validate = defaultValidate }
            if err := tt.validate(t, {{range $i, $r := .Results}}{{if eq $r.Type "error"}}{{if gt $errorCount 1}}err{{$i}}{{else}}err{{end}}{{else}}got{{$i}}{{end}}, {{end}}&tt); err != nil {
                {{- $disp := displayName .FunctionInfo }}
                t.Errorf("{{$disp}}() validation failed: %v", err)
            }
		})
	}
}
{{end}}

{{define "generic_struct"}}
{{- $testFuncName := testName .FunctionInfo }}
    {{- $nonErrorResults := 0 }}
    {{- $errorCount := 0 }}
    {{- range $i, $r := .Results }}
        {{- if eq $r.Type "error" }}
            {{- $errorCount = add $errorCount 1 }}
        {{- else }}
            {{- $nonErrorResults = add $nonErrorResults 1 }}
        {{- end }}
    {{- end }}
    {{- $hasErr := gt $errorCount 0 }}
    {{- $multipleErrors := gt $errorCount 1 }}

	{{- if or (gt $nonErrorResults 0) $hasErr }}
    type test{{$testFuncName}}Wants[{{range .TypeParams}}{{.Name}} {{.Type}}, {{end}}] struct {
        {{- $counter := 0 }}
        {{- range $i, $r := .Results}}
            {{- if ne $r.Type "error"}}
            want{{$counter}} {{$r.Type}}
            {{- $counter = add $counter 1 }}
            {{- else if $multipleErrors }}
            wantErr{{$i}} error
            {{- end}}
        {{- end}}
        {{- if and $hasErr (not $multipleErrors) }}
        wantErr error
        {{- end}}
    }
    {{- end}}

    type testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}} {{.Type}}, {{end}}] struct {
        name string
        {{- if .Receiver}}
        receiver {{.Receiver.Type}}
        {{- end}}
        args struct {
            {{- range .Parameters}}
            {{.Name}} {{.Type}}
            {{- end}}
        }
        {{- if or (gt $nonErrorResults 0) $hasErr }}
        want test{{$testFuncName}}Wants[{{range .TypeParams}}{{.Name}}, {{end}}]
        {{- end}}
        init func(t *testing.T, tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}])
        cleanup func(t *testing.T, tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}])
        {{- if or (gt $nonErrorResults 0) $hasErr }}
        validate func(t *testing.T, {{range $i, $r := .Results}}{{if eq $r.Type "error"}}{{if $multipleErrors}}gotErr{{$i}} error{{else}}gotErr error{{end}}{{else}}got{{$i}} {{$r.Type}}{{end}}, {{end}}tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}]) error
        {{- else }}
        validate func(t *testing.T, tt *testCase{{$testFuncName}}[{{range .TypeParams}}{{.Name}}, {{end}}]) error
        {{- end }}
    }
{{end}}
